@import '../../styles/colors.scss';

.btn {
  border-radius: 4px;
  border: none;
  font-size: inherit;
  padding: 3px 10px;
  background-color: $blue;
  color: $white;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &.danger-bg {
    background-color: $danger;
  }

  &:active {
    box-shadow: 0 0 8px black;
  }
}
