@import '../../styles/colors.scss';

.aside {
  align-items: center;
  background-color: $dark-color;
  box-shadow: -3px 5px 14px black;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: calc(100% - 103px);
  justify-content: center;
  margin-top: 103px;
  max-width: 300px;
  min-width: 200px;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;

  @media screen and (max-width: 754px) {
    margin-top: 152px;
    height: calc(100% - 152px);
  }

  @media screen and (max-width: 500px) {
    margin-top: 178px;
    height: calc(100% - 178px);
  }

  @media screen and (max-width: 315px) {
    margin-top: 180px;
    height: calc(100% - 180px);
  }

  img {
    width: 130px;
    filter: drop-shadow(5px 5px 5px black);
    transition: filter 0.4s ease;
  }

  img:hover {
    filter: drop-shadow(5px 5px 10px black);
  }

  .aside__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .aside__close-btn {
    background-color: $danger;
    color: $white;
    margin-top: 8px;
  }
}
