@import '../../styles/colors.scss';

.card {
  align-items: center;
  background-color: $primary-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  transition: 0.4s ease;
  width: calc(32% - 30px);
  cursor: pointer;

  @media screen and (max-width: 700px) {
    gap: 5px;
    width: calc(50% - 20px);
  }

  @media screen and (max-width: 400px) {
    gap: 5px;
    width: calc(100% - 20px);
  }

  .card__img-container {
    overflow: hidden;

    img {
      width: 100%;
      transition: 0.4s ease;
    }

    & img:hover {
      transform: scale(1.2);
    }
  }

  .info {
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    h2 {
      font-size: 16pt;
      font-weight: bold;
      padding-bottom: 10px;
      @media (max-width: 500px) {
        font-size: 10pt;
      }
    }

    .card__btn {
      background-color: $blue;
      color: $white;
      margin-top: 5px;
    }
  }
}
