@import '../../styles/colors.scss';

.home-page-layout {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100vh;
  max-height: 100vh;
  padding-bottom: 3px;
  overflow-x: hidden;

  .main-container {
    position: relative;
    max-height: calc(100% - 20px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: $primary-color;
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark-color;
      border-radius: 4px;
    }
  }
}
