@import '../../styles/colors.scss';

.home-page-layout {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100vh;
  max-height: 100vh;
  padding-bottom: 3px;
  overflow-x: hidden;

  .main-container {
    position: relative;
    max-height: calc(100% - 20px);
    overflow-y: auto;
  }
}
